In [1]:
import pandas as pd
import numpy as np

In [2]:
test_data = {"year": [1985,1985,1985,1986,1987], 
            'manufacturer': ['ford','ford','jeep','ford','jeep'],
            'fuel': ('gas '*5).split(' ')[:-1],
            'transmission': ('automatic '*5).split(' ')[:-1],
            'model': ['escape','escape','wrangler','escape','wrangler']}

In [3]:
test_data

{'year': [1985, 1985, 1985, 1986, 1987],
 'manufacturer': ['ford', 'ford', 'jeep', 'ford', 'jeep'],
 'fuel': ['gas', 'gas', 'gas', 'gas', 'gas'],
 'transmission': ['automatic',
  'automatic',
  'automatic',
  'automatic',
  'automatic'],
 'model': ['escape', 'escape', 'wrangler', 'escape', 'wrangler']}

In [4]:
test_data['year']

[1985, 1985, 1985, 1986, 1987]

In [5]:
df = pd.DataFrame(test_data)

In [6]:
df

   year manufacturer fuel transmission     model
0  1985         ford  gas    automatic    escape
1  1985         ford  gas    automatic    escape
2  1985         jeep  gas    automatic  wrangler
3  1986         ford  gas    automatic    escape
4  1987         jeep  gas    automatic  wrangler

In [7]:
df['year_make_model'] = (df['year'].map(str) + " " +
                         df['manufacturer'].map(str) + " " +
                         df['fuel'].map(str) + " " +
                         df['transmission'].map(str) + " " +
                         df['model'].map(str) + " ")

In [8]:
df

,year,manufacturer,fuel,transmission,model,year_make_model
0,1985,ford,gas,automatic,escape,1985 ford gas automatic escape
1,1985,ford,gas,automatic,escape,1985 ford gas automatic escape
2,1985,jeep,gas,automatic,wrangler,1985 jeep gas automatic wrangler
3,1986,ford,gas,automatic,escape,1986 ford gas automatic escape
4,1987,jeep,gas,automatic,wrangler,1987 jeep gas automatic wrangler

In [23]:
for year in df['year'].unique():
    manufacturers = df['manufacturer'].loc[df['year'] == year].unique()
    for manuf in manufacturers:
        fuels = df['fuel'].loc[
            (df['year'] == year) & 
            (df['manufacturer'] == manuf)].unique()
        for fuel in fuels:
            transmissions = df['transmission'].loc[
                (df['year'] == year) & 
                (df['manufacturer'] == manuf) & 
                (df['fuel'] == fuel)].unique()
            for trany in transmissions:
                models = df['model'].loc[
                    (df['year'] == year) & 
                    (df['manufacturer'] == manuf) & 
                    (df['fuel'] == fuel) &
                    (df['transmission'] == trany)].unique()
                for model in models:
                    print(f"{year} {manuf} {fuel} {trany} {model}")

1985 ford gas automatic escape
1985 jeep gas automatic wrangler
1986 ford gas automatic escape
1987 jeep gas automatic wrangler

In [9]:
df_unique = df.drop_duplicates()

In [10]:
df_unique

,year,manufacturer,fuel,transmission,model,year_make_model
0,1985,ford,gas,automatic,escape,1985 ford gas automatic escape
2,1985,jeep,gas,automatic,wrangler,1985 jeep gas automatic wrangler
3,1986,ford,gas,automatic,escape,1986 ford gas automatic escape
4,1987,jeep,gas,automatic,wrangler,1987 jeep gas automatic wrangler

In [11]:
df_unique['matched_model'] = ['ESCAPE','WRANGLER','ESCAPE','WRANGLER']

C:\Users\George\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
df_unique

,year,manufacturer,fuel,transmission,model,year_make_model,matched_model
0,1985,ford,gas,automatic,escape,1985 ford gas automatic escape,ESCAPE
2,1985,jeep,gas,automatic,wrangler,1985 jeep gas automatic wrangler,WRANGLER
3,1986,ford,gas,automatic,escape,1986 ford gas automatic escape,ESCAPE
4,1987,jeep,gas,automatic,wrangler,1987 jeep gas automatic wrangler,WRANGLER

In [16]:
df_merged = pd.merge(df,df_unique, on = ['year_make_model','year_make_model'])

In [17]:
df_merged

,year_x,manufacturer_x,fuel_x,transmission_x,model_x,year_make_model,year_y,manufacturer_y,fuel_y,transmission_y,model_y,matched_model
0,1985,ford,gas,automatic,escape,1985 ford gas automatic escape,1985,ford,gas,automatic,escape,ESCAPE
1,1985,ford,gas,automatic,escape,1985 ford gas automatic escape,1985,ford,gas,automatic,escape,ESCAPE
2,1985,jeep,gas,automatic,wrangler,1985 jeep gas automatic wrangler,1985,jeep,gas,automatic,wrangler,WRANGLER
3,1986,ford,gas,automatic,escape,1986 ford gas automatic escape,1986,ford,gas,automatic,escape,ESCAPE
4,1987,jeep,gas,automatic,wrangler,1987 jeep gas automatic wrangler,1987,jeep,gas,automatic,wrangler,WRANGLER